a:link {
  color: orange;
}

a:visited {
  color: green;
}

a:hover {
  text-decoration: none;
}

.container p:first-child::first-line {
  font-size: 150%;
  color: red;
}

tr:nth-child(2n) {
  background-color: #333;
  color: white;
}
